.navbar {
  background: rgb(6, 31, 47);
  background: linear-gradient(
    90deg,
    rgba(6, 31, 47, 1) 0%,
    rgba(10, 109, 111, 1) 52%,
    rgba(255, 187, 117, 1) 98%
  );
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.wildout {
  height: 3rem;
  width: 10rem;
}
